<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="OOP Autopark"
           Manufacturer="Student"
           Version="1.0.0.0"
           UpgradeCode="{81D37FF0-D4C6-4114-AE26-D5FC8D6359D4}">

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed."/>
    <MediaTemplate EmbedCab="yes"/>

    <Property Id="WixUILicenseRtf" Value="license.rtf"/>
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR"/>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLDIR" Name="OOP Autopark"/>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder"/>

    <ComponentGroup Id="AppFiles" Directory="INSTALLDIR">
      <Component Id="comp_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Guid="*">
        <File Id="file_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Source="publish\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes"/>
      </Component>
      <Component Id="comp_Microsoft_Extensions_Logging_Abstractions_dll" Guid="*">
        <File Id="file_Microsoft_Extensions_Logging_Abstractions_dll" Source="publish\Microsoft.Extensions.Logging.Abstractions.dll" KeyPath="yes"/>
      </Component>
      <Component Id="comp_Npgsql_dll" Guid="*">
        <File Id="file_Npgsql_dll" Source="publish\Npgsql.dll" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_deps_json" Guid="*">
        <File Id="file_OOP_Cource_deps_json" Source="publish\OOP_Cource.deps.json" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_dll" Guid="*">
        <File Id="file_OOP_Cource_dll" Source="publish\OOP_Cource.dll" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_dll_config" Guid="*">
        <File Id="file_OOP_Cource_dll_config" Source="publish\OOP_Cource.dll.config" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_exe" Guid="*">
        <File Id="file_OOP_Cource_exe" Source="publish\OOP_Cource.exe" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_pdb" Guid="*">
        <File Id="file_OOP_Cource_pdb" Source="publish\OOP_Cource.pdb" KeyPath="yes"/>
      </Component>
      <Component Id="comp_OOP_Cource_runtimeconfig_json" Guid="*">
        <File Id="file_OOP_Cource_runtimeconfig_json" Source="publish\OOP_Cource.runtimeconfig.json" KeyPath="yes"/>
      </Component>
      <Component Id="comp_Shortcut" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\OOP_Cource" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="StartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="OOP Autopark"
                  Target="[INSTALLDIR]OOP_Cource.exe"
                  WorkingDirectory="INSTALLDIR"
                  Description="Vehicle Fleet Management"/>
        <RemoveFolder Id="CleanMenuFolder" Directory="ProgramMenuFolder" On="uninstall"/>
      </Component>    </ComponentGroup>

    <Feature Id="Complete" Title="OOP Autopark" Level="1">
      <ComponentGroupRef Id="AppFiles"/>
    </Feature>
  </Package>
</Wix>